{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
        "airbnb", 
        "next/core-web-vitals",
        "react-app",
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {   
                "endOfLine": "auto"
            }
        ]
    }
  }