.home-layout {
  width: 400px;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding-left: 0px;
}
.home-button-container {
  display: flex;
  width: 400px;
  flex-direction: row;
}

.home-button {
  width: 200px;
  height: 40px;
  background-color: white;
  border: none;
}
.home-button:hover {
  background-color: #fff94b;
  transition: 0.7s;
  cursor: pointer;
}

.clicked {
  background-color: #fff94b;
  cursor: pointer;
}

.home-title {
  display: flex;
  justify-content: center;
}
